grant {
  permission java.security.SecurityPermission "putProviderProperty.*";

  permission java.security.SecurityPermission "insertProvider.*";

  permission java.security.SecurityPermission "getProperty.*";

  permission java.lang.RuntimePermission "accessDeclaredMembers";
};