grant {
  //BC permissions
  permission java.security.SecurityPermission "putProviderProperty.BC";
  permission java.security.SecurityPermission "insertProvider.BC";
  permission java.security.SecurityPermission "removeProviderProperty.BC";
  permission java.util.PropertyPermission "jdk.tls.rejectClientInitiatedRenegotiation", "write";

  permission java.security.SecurityPermission "getProperty.*";
  permission java.lang.RuntimePermission "accessDeclaredMembers";

};